header{
  position:relative;
  height: 100px;
  width:1335px;
  box-shadow: 5px 5px 5px #ccc;
  margin-bottom: 50px;
}


header > a{
  float:left;
  margin-top: 10px;
  margin-left:15px;
  margin-bottom: 0;
  font-size:51px;
  text-transform: uppercase;
  font-family: arial;
  text-decoration: none;
  color:black;

}


header>#pesquisador{
  position: absolute;
  top:24px;
  left:250px;
}

header>#pesquisador>input{
  width:400px;
  border:1px solid #ccc;
  padding:5px;
}

header>#pesquisador>button{
  width:100px;
  border:1px solid #0f0;
  padding:5px;
  background-color:#0f0;
  color:white;
  font-size:14px;
  cursor:pointer;
}


header >nav{
  float:right;
  margin-top:30px;
  margin-right: 25px;
}

header > nav >a{
  color:#444;
  text-decoration: none;
  margin-right: 30px;
  font-size:18px;
}

header > nav >a:last-of-type{
  margin-right:0px;
}

header > nav >a:hover{
  border-bottom:1px solid #777;
}



#login{
  position: relative;
  margin-left:432px;
  height: 300px;
  width:380px;
  border:1px solid #ccc;
  border-left:20px solid #ffff00;
  box-shadow:5px 5px 5px #ccc ;
}

#login>form{
  position: relative;
  margin-left:25px;
  padding-top:20px;
  height:200px;
  width:400px;
}

#login>form>span{
  font-size:20px;
}

#login>form>input:first-of-type{
  margin-bottom: 25px;
}

#login>form>input{
  position:relative;
  padding:2px;
  width:300px;
  border:1px solid #ccc;
}

#login>form>button{
  position:relative;
  margin-top:20px;
  padding:5px;
  border:0;
  font-size:17px;
  background-color:#00f0cf;
  color:#fff;
  cursor:pointer;
}

#login>form>button:first-of-type{
  margin-right: 20px;
}


#login>a{
  margin-left:24px;
  text-decoration: none;
  color:#9090f0;
  cursor:pointer;
}

#login>a:hover{
  border-bottom:1px solid #9090f0;
}


footer{
  position: fixed;
  left:0;
  bottom:0;
  height: 20px;
  width:1350px;
  background-color:aquamarine;
}